pipeline/pipe_LoadDW.json
{
	"name": "pipe_LoadDW",
	"properties": {
		"description": "Pipeline for starting DW Load",
		"activities": [
			{
				"name": "getDimensionList",
				"description": "Get the list of Dimension Table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEachRefTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "SELECT *  \nFROM [CTL].[fn_getTableList]('ALL')\nWHERE DWTableSchemaName = 'DW'\nAND IsDimension = 1"
					},
					"dataset": {
						"referenceName": "ds_SQLDB",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachDimension",
				"description": "Iterate through each Dimensions",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getDimensionList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('getDimensionList').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "usp_Load_DW",
							"description": "Stored Procedure to load Dimension",
							"type": "SqlServerStoredProcedure",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30
							},
							"typeProperties": {
								"storedProcedureName": {
									"value": "@{item().DWStoredProcName}",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"BatchID": {
										"value": "@activity('getBatchID').output.value[0].BatchID",
										"type": "Int64"
									},
									"DataSliceEndTime": {
										"value": "@{item().DataSliceEndTime}",
										"type": "DateTime"
									},
									"DataSliceStartTime": {
										"value": "@{item().DataSliceStartTime}",
										"type": "DateTime"
									},
									"ETLLoadID": {
										"value": "@item().ETLLoadID",
										"type": "Int32"
									},
									"IsFullLoad": {
										"value": "@item().IsFullLoad",
										"type": "Boolean"
									},
									"PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "String"
									},
									"SourceSystem": {
										"value": "@{item().SourceSystem}",
										"type": "String"
									},
									"LoadDW": {
										"value": "@{item().LoadDW}",
										"type": "Boolean"
									},
									"SourceDBName": {
										"value": "@{item().DatabaseName}",
										"type": "string"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_SQLDW",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "getBatchID",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "SELECT (NEXT VALUE FOR CTL.SEQ_ETLBATCHID)  AS BatchID"
					},
					"dataset": {
						"referenceName": "ds_SQLDB",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "getReferenceTableList",
				"description": "Get the list of Reference Table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "getBatchID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "SELECT *  \nFROM [CTL].[fn_getTableList]('ALL')\nWHERE DWTableSchemaName = 'Ref'"
					},
					"dataset": {
						"referenceName": "ds_SQLDB",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachRefTable",
				"description": "Iterate through each Reference Dimensions",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getReferenceTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": "@activity('getReferenceTableList').output.value",
					"activities": [
						{
							"name": "Load_Ref_Dimension",
							"description": "Stored Procedure to load Reference Dimension",
							"type": "SqlServerStoredProcedure",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30
							},
							"typeProperties": {
								"storedProcedureName": {
									"value": "@{item().DWStoredProcName}",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"BatchID": {
										"value": "@activity('getBatchID').output.value[0].BatchID",
										"type": "Int64"
									},
									"DataSliceEndTime": {
										"value": "@{item().DataSliceEndTime}",
										"type": "DateTime"
									},
									"DataSliceStartTime": {
										"value": "@{item().DataSliceStartTime}",
										"type": "DateTime"
									},
									"ETLLoadID": {
										"value": "@item().ETLLoadID",
										"type": "Int32"
									},
									"IsFullLoad": {
										"value": "@item().IsFullLoad",
										"type": "Boolean"
									},
									"PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "String"
									},
									"SourceSystem": {
										"value": "@{item().SourceSystem}",
										"type": "String"
									},
									"LoadDW": {
										"value": "@item().LoadDW",
										"type": "Boolean"
									},
									"SourceDBName": {
										"value": "@{item().DatabaseName}",
										"type": "string"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_SQLDW",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "FactLoad",
				"description": "Load the fact table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEachDimension",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": "@activity('getBatchID').output.value",
					"isSequential": true,
					"activities": [
						{
							"name": "getInfo_FactGLDetail",
							"description": "Get the control information for FactGLDetail",
							"type": "Lookup",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false
							},
							"typeProperties": {
								"source": {
									"type": "SqlSource",
									"sqlReaderQuery": "SELECT *  \nFROM [CTL].[fn_getTableList]('ALL')\nWHERE DWTableSchemaName = 'DW'\nAND SourceName = 'gl_acct_detail'"
								},
								"dataset": {
									"referenceName": "ds_SQLDB",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "FactGLDetail",
							"description": "Load FactGLDetail fact table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "getInfo_FactGLDetail",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false
							},
							"typeProperties": {
								"storedProcedureName": {
									"value": "@activity('getInfo_FactGLDetail').output.firstrow.DWStoredProcName",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"BatchID": {
										"value": "@activity('getBatchID').output.value[0].BatchID",
										"type": "Int64"
									},
									"DataSliceEndTime": {
										"value": "@activity('getInfo_FactGLDetail').output.firstrow.DataSliceEndTime",
										"type": "DateTime"
									},
									"DataSliceStartTime": {
										"value": "@activity('getInfo_FactGLDetail').output.firstrow.DataSliceStartTime",
										"type": "DateTime"
									},
									"ETLLoadID": {
										"value": "@activity('getInfo_FactGLDetail').output.firstrow.ETLLoadID",
										"type": "Int32"
									},
									"IsFullLoad": {
										"value": "@activity('getInfo_FactGLDetail').output.firstrow.IsFullLoad",
										"type": "Boolean"
									},
									"LoadDW": {
										"value": "@activity('getInfo_FactGLDetail').output.firstrow.LoadDW",
										"type": "Boolean"
									},
									"PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "String"
									},
									"SourceDBName": {
										"value": "@activity('getInfo_FactGLDetail').output.firstrow.DatabaseName",
										"type": "String"
									},
									"SourceSystem": {
										"value": "@activity('getInfo_FactGLDetail').output.firstrow.SourceSystem",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_SQLDW",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"tags": {
			"identity": "99c18c21-b1da-426d-8c5b-660527e36b33",
			"gitCommitId": "79267e0ab39f7321bfcf61dc02ab71e3f16c9fc3"
		}
	}
}