pipeline/TestPipeline.json
{
	"name": "TestPipeline",
	"properties": {
		"activities": [
			{
				"name": "Call_Sproc_Is_Log_Enabled",
				"type": "SqlServerStoredProcedure",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[EnableLogging]",
					"storedProcedureParameters": {
						"loggingEnabled": {
							"value": null,
							"type": "Boolean"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDW1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "If_Logging_Is_Enabled",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Call_Sproc_Is_Log_Enabled",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Call_Sproc_Is_Log_Enabled').output,1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Write to test",
							"type": "SqlServerStoredProcedure",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"storedProcedureName": "[dbo].[WriteToLog]",
								"storedProcedureParameters": {
									"details": {
										"value": {
											"value": "@activity('Call_Sproc_Is_Log_Enabled').output.value[0]",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW1",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Stored Procedure1",
							"type": "SqlServerStoredProcedure",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"storedProcedureName": "[dbo].[WriteToLog]",
								"storedProcedureParameters": {
									"details": {
										"value": "\"LoadADW process has completed\"",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		]
	}
}